
body{
    background-color: yellow;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    padding: 0%;

}

.container{
    background-color:darkcyan;
    color:aliceblue;
    padding:10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px ;
}

.curreny-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

.curreny-container select{
    padding: 10px;
    cursor: pointer;
}

.curreny-container input{
    border: 0;
    background: transparent;
    font-size: 25px;
    text-align: right;
    color: aliceblue;
    cursor: pointer;

}

.exchange-rate{
    font-size: 20px;
    font-weight: 600;
}

select:focus, input:focus{
    outline: 0;
}